name: Build WSL and upload to S3
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install debootstrap & tar
        run: sudo apt-get update && sudo apt-get install -y debootstrap tar xz-utils

      - name: Run build script
        run: sudo bash build.sh

      - name: Tag and Rename
        run: |
          export IMAGE_TAG="$(date +%Y%m%d)-${{ github.run_number }}"
          mv custom-wsl.tar.gz custom-wsl-${IMAGE_TAG}.tar.gz
          cp custom-wsl-${IMAGE_TAG}.tar.gz custom-wsl-latest.tar.gz

      - name: Upload artifact to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl private
        env:
          AWS_S3_BUCKET: ${{ secrets.S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          SOURCE_DIR: './'
          DEST_DIR: '' # Upload to root of bucket
